body{
    height: 100%;
    overflow: visible;
}
body.modal-open{
    overflow: visible !important;
}
html{
    background: none;
}
a{
    cursor: pointer;
}
.note-editor.codeview .note-codable {
    background-color: #222;
}

/* select2 */
div.select2-drop {
    z-index: 99999;
}
.select2-container-multi a.select2-search-choice-close {
    padding: 0;
    text-align: center;
}
a.select2-search-choice-close:before {
    position: absolute;
    top: 4px;
    right: 4px;
}

.loader_create_definition {
    display: inline-block;
}
.loader_create_definition.hide{
    display: none;
}

.modal-open{
    overflow: auto;
}
div#modal_wrapper div.modal, div#modal_form, div#modal_form_edit{
    z-index: 2000;
}

.bigBox {
    z-index: 9100001;
}
.image_storage_wrapper {
    width: 100%;
    height: 100%;
    z-index: 999901;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: #fff;
}
.image_storage_wrapper .close_image_storage {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 9;
}
.divMessageBox {
    z-index: 999981;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

.smart-style-3 .login-info a span{
    font-size: 13px;
}
.demo{
    background: #fff;
    position: static;
}
.demo.activate{
    position: absolute;
    background: #f1da91 none repeat scroll 0 0;
}
.modal-footer{
    border: none;
}

.table-striped > tbody > tr:nth-child(2n+1){
    background: none;
}

.smart-style-5 #inbox-table tbody tr:hover, .smart-style-5 .table-hover > tbody > tr:hover > td{
    background: #666;
}
.smart-style-5 .modal-content{
    background-size: cover;
}
.btn {
    padding: 4px 8px;
}
.SmallBox{
    width: 290px;
}
div.tb-uploaded-image-container{
    text-align: center;
    background: none;
    padding: 5px 0;
}
.table-responsive{
    overflow-x: visible;
}
.modal{
    position: absolute;
}

.modal-open .modal{
    overflow: visible;
}
.modal-backdrop{
    z-index: 905;
}
div.tb-uploaded-image-container ul li{
    width: 120px;
    height: 120px;
    border: 1px solid #eee;
    float: left;
    background: #fff;
    line-height: 120px;
}
div.tb-uploaded-image-container ul li img{
    height: auto;
    max-height: 120px;
}
div.tb-uploaded-image-container ul{
    min-height: 40px;
}
#divSmallBoxes .SmallBox {
    width: 200px;
}
.dop_foto img{
    max-width: 120px;
    max-height: 120px;
}

.editable2-click, a.editable2-click, a.editable2-click:hover {
    border-bottom: 1px dashed #08c;
    text-decoration: none;
}
.editable2-buttons {
    display: inline-block;
    margin-left: 7px;
    vertical-align: top;
}
.editable2-input {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: auto;
}
.popover{
    max-width: 376px;
}
.red{
    color: red;
}

#ui-datepicker-div, .clockpicker-popover{
    z-index: 100000 !important;
}
.input-group-addon{
    position: relative;
    z-index: 3;
}
.smart-form .toggle{
    font-size: 13px;
    display: table;
}
.banner_preview{
    text-align: center;
    padding:10px 0 0 0;
}
.banner_preview img{
    max-width: 550px;
}
#tree_top{
    max-height: 300px;
}
.flag.flag-en {
    background-position: -144px -154px;
}


/*alexkor 01.12.2015 fixed table resize plugin in modal window */
.modal .modal-dialog {
    transform: none !important;
}

#divSmallBoxes .SmallBox{
    width: 300px;
}
.sorting_desc, .sorting_asc{
    background-color: #eee;
}
.sorting{
    cursor: pointer;
    background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC") no-repeat scroll right center;
}

.sorting_asc {
    background: #eee url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC") no-repeat scroll right center;
}
.sorting_desc {
    background: #eee url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=") no-repeat scroll right center;
}
.uploaded-files ul{
    padding: 10px 0 0 0;
}
.uploaded-files ul li{
    list-style: none;
}
.uploaded-files ul a{
    margin: 0 5px;
}
.uploaded-files ul a.delete{
    color: red;
}
[name=filter] td{
    padding: 0 10px 0 0;
}
.add_group{
    color: green;
}
.delete_group{
    color: red;
    cursor: pointer;
}
.content_all_photo{
    background: #fff;
}
.one_photo{
    float: left;
    display: inline-block;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.one_photo .fa{
    color: #fddf81;
    font-size: 100px;
}
.table_album{
    margin-bottom: 0;
}
.content_all_photo {
    padding: 5px;
}
.empty_album {
    text-align: center;
    padding: 50px 0;
}
p.table_album_action_a{
    float: right;
    margin: 0;
}
p.table_album_action_a a{
    margin: 0 10px;
}
#screenshot{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
    z-index: 200011;
}

.section_group{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fast-edit-buttons{
    display: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    z-index: 100000;
}
.dblclick-edit{
    border-bottom: 1px dotted #333;
    cursor: pointer;
}
.dblclick-edit:hover{
    border-bottom:none;
}
.fast-edit-buttons .input_field{
    padding-bottom: 5px;
}
.fast-edit-buttons i.btn-cancel{
    cursor: pointer;
    font-size: 19px;
    color: red;
    position: relative;
    top: 3px;
}
.fast-edit-buttons .fa.fa-save{
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.icon-arrow-left:before{content:"\f0d9"; font-family: FontAwesome; font-style: normal;}
.icon-arrow-right:before{content:"\f0da";  font-family: FontAwesome; font-style: normal;}


div.tb-uploaded-image-container .dop_foto button.tb-btn-image-delete{
    position: absolute;
    top:0;
    right: 0;
    height: 10px;
    width: 1px;
}
.btn2{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
    border-color: #ccc;
}

.table, .jarviswidget{
    margin-bottom: 0;
}
div.dataTables_info{
    padding-top: 0;
}
.smart-style-4 #content > .row:first-child{
    padding-bottom: 0;
    border-bottom: none;
    background-color: #fff;
}
#tb-tree-table thead th.text-left{
    background: #4c4f53 none repeat scroll 0 0;
    border-color: #45474b !important;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans",Arial,Helvetica,sans-serif !important;
}
#tb-tree-table thead th.text-left a{
    color: #fff;
}
#screenshot{
    background-color: #fff;
}
.multi-checkbox.checkbox input{
    margin-left: -7px;
}
.fr-view li{
    margin-left: 10px;
}

.fr-popup.fr-desktop{
    z-index: 10000 !important;
}

.no_active_froala{
    padding: 7px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.filters-row .input-group-addon.form-input-icon.form-input-filter-icon {
    width: 39px;
    height: 32px;
}
.settings_fast_edit_input{
    width: 300px;
    text-align: center;
}
.input_content_toggle{
    height: 40px;
    padding-left: 60px;
    position: relative;
    text-align: center;
    width: 70px;
}
.input_content_toggle:after{
    clear: both;
}
.smart-form .input-file .button.select_with_uploaded {
    margin-right: 100px;
}

.files_uploaded_table {
    position: fixed;
    top:50%;
    left: 50%;
    margin: -320px 0 0 -350px;
    z-index: 10000;
}
.files_uploaded_table .modal-dialog {
    width: 700px;
}
.files_uploaded_table .modal-header {
    padding: 10px;
}
.files_uploaded_table .modal-content {
    max-height: 600px;
}

.files_uploaded_table table {
    width: 99%;
    display:block;
}
.files_uploaded_table thead {
    display: table;
    width: 100%;
    height: 28px;
}
.files_uploaded_table tbody {
    max-height: 485px;
    display: block;
    width: 100%;
    overflow: auto;
}

.files_uploaded_table tbody td:first-child {
    width: auto;
}

.files_uploaded_table .modal-footer {
    padding: 15px;
}
.files_uploaded_table .close_window {
    margin-top: -2px;
    cursor: pointer;
}
.files_uploaded_table .close_window {
    color: #000;
    float: right;
    font-size: 19.5px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
.files_uploaded_table label {
    width: 19px;
    height: 19px;
}
.files_uploaded_table .name {
    width: 330px;
}
.files_uploaded_table .type {
    width: 30px;
}
.files_uploaded_table .size {
    width: 70px;
}
.one_img_uploaded {
    width: 100px;
    height:100px;
    border:1px solid #eee;
    display: flex;
    vertical-align: middle;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}
.one_img_uploaded.selected {
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.smart-form .checkbox, .smart-form .radio {
    display: table;
}
.transparent-image{
    background-image:      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpBMDg4MjlEMzM2MzkxMUU3QkY1MkU1OTI3OEE4OUMwQyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpBMDg4MjlENDM2MzkxMUU3QkY1MkU1OTI3OEE4OUMwQyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkEwODgyOUQxMzYzOTExRTdCRjUyRTU5Mjc4QTg5QzBDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkEwODgyOUQyMzYzOTExRTdCRjUyRTU5Mjc4QTg5QzBDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+RkP7qwAAADBJREFUeNpiZGBg2MxABGhoaCBGGQMTA5XBqIGjBg4GA1mIzQGjOWXUwBFtIECAAQBxgQVdV0AXaAAAAABJRU5ErkJggg==')
}
.one_img_uploaded img {
    max-width: 100px;
    max-height: 100px;
}
.files_uploaded_table label.select, .files_uploaded_table label.input{
    width: auto;
    height:auto;
}
.delete_answer{
    position: relative;
    top: 5px;
}

.definition_blocks{
    position: relative;
    padding-top: 20px;
}
.loader_definition {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 100;
    display: none;
}

.col_sort{
    width: 10px;
}
tbody .col_sort{
    cursor:s-resize;
}

/*responsive*/
html.hidden-menu-mobile-lock .pagination-bottom-wrapper,
body.mobile-view-activated .pagination-bottom-wrapper {
    left: 0px;
    right: auto;
    width: 100%;
}
.modal-dialog {
    max-width: 100%;
}
.select2-hidden-accessible {
    display: none;
}



@media (max-width: 767px) {
    #content, #ribbon {
        padding-left: 10px;
        padding-right: 10px;
    }
    .modal-dialog {
        margin: 0px;
    }
    .table-responsive {
        border: none;
    }
    #main-content, .files_uploaded_table .modal-body {
        overflow-y: auto;
        width: 100%;
    }
    .nav-tabs {
        white-space: nowrap;
        overflow-y: auto;
    }
    .nav-tabs li {
        display: inline-block;
        vertical-align: middle;
        float: none;
        white-space: normal;
    }
    .superbox-show {
        min-width: 700px;
    }
    .files_uploaded_table {
        top: 0px;
        left: 0px;
        margin: 0px;
    }
    .files_uploaded_table .modal-body {
        max-height: -webkit-calc(100vh - 110px);
        max-height: calc(100vh - 110px);
    }

}

@media (max-width: 567px) {

    .smart-form .input-file .button {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 10px 0px 0px;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: center;
    }
    .smart-form .input-file .button:last-child {
        margin-right: 0px;
    }
    .smart-form .input-file .button.select_with_uploaded {
        margin-right: 10px;
    }
    .smart-form .input-file input[type="text"] {
        margin: 10px 0px 0px;
    }
    .ui-multiselect div.selected,
    .ui-multiselect div.available {
        width: 100% !important;
    }
    .modal-header {
        text-align: center;
    }
    .modal-header .btn {
        float: none !important;
        margin: 5px !important;
    }

}

/*responsive*/
.screenshot img {
    max-width: 50px;
}
.datepicker_range {
    width: 120px;
    position: relative;
    float:left;
}
